<% provide(:title, "current project") %>

<p></p>
<p>This site was made with plans to fundraise for <a href="https://www.againstmalaria.com">Against Malaria Foundation, </a>but I've since decided to focus on creating a news network for Minnesotan non-profits</p>
<p>Sorry to all the companies I gave resumés to with "UMNMILITIA.ORG" as my only listed extracurricular activity</p>
<p>If you're a nonprofit interested in gaining exposure, please email: lette007@umn.edu</p>
