<% provide(:title, "about") %>

<p></p>
<p>Who here has ever wanted to be a superhero? </p>
<p></p>
<p></p>
<p>*hands raise*</p>
<p></p>
<p></p>
Ok, well who here has ever wanted to be Wonder Woman or Superman?
<p></p>
<p></p>
*hands raise*
<p></p>
<p>Awesome .. and does anyone know superman and wonder woman’s real names? </p>

<p>*Clark Kent / Diana Prince</p>

<p>Right, nice ..  – so what makes diana prince and clark kent superheroes? </p>


<p>*answer from audience or your own explanation (laser vision, fly, superhuman strength)* </p>

<p>Right .. right .. nice –but now i want you to imagine a different situation .. – so what if clark kent and diana prince .. before they started fighting crime and saving the day .. what if they met at some airport .. like midway airport in Chicago .. and what if there was this intense extraterrestrial chemistry between them .. and they just hit it off full steam .. like a romantic rocket ship .. like they just found the nearest closet n got it on full steam ahead .. and they were just like “why are we paying for these flight tickets?” .. “fuck it.. let’s just buy some sky blue jump suits and facemasks and travel the world together for the rest of our lives.. .. get away from all this violence…” .. and what if then .. we never found out about their superpowers .. would they still be superheroes .. would we still have the chance to call them superheroes?? throw them on tv screens and newspapers? ..  </p>

<p>what i’m trying to say is that .. what makes superman and wonderwoman superheroes is the fact that they save lives</p>

<p>and then supervillains are the ones that kill innocent people and cause suffering …
</p>
<p>so i’m up here because there are over 50,000 students at the University of Minnesota .. and together we have the potential to be a very powerful superhero</p>

<p>but why do we need a superhero? ------- because there’s a massive supervillain that attacks 400 million people a year... killing about 500,000 of them</p>

<p>the supervillain's name is malaria </p>

<p>right now, there’s a nonprofit called the Against Malaria Foundation that’s been fighting Malaria for over a decade .. by using insecticide treated mosquito nets .. they’ve protected over 30,000,000 people from malaria contraction</p>

<p>and so they're a superhero</p>

<p>and their superpower is the ability to distribute insecticide treated mosquito nets to people who need them.. </p>

<p>and our superpower .. if we want to be a superhero .. is to pay for these insecticide treated mosquito nets .. and there are over 50,000 students at the University of Minnesota .. and if we come together .. we can protect over 200 people a day from malaria .. at a cost of one cent a person .. because we can all afford to give at least one cent a day .. </p>

<p>and if we each give one cent a day, that’s $500 dollars a day .. which pays for 200 mosquito nets </p>

<p>so we can save over 200 lives a day and it will cost us each as close to nothing as you can possibly get .. and that’s super... powerful .. </p>

<p>and so .. how do we become a collective superhero? </p>

<p>first, we come together</p>

<p>and where do we do that? </p>

<p>online</p>

<p>so please visit umnmilitia.org</p>

<p>----------</p>

<p>if you're interested in helping, please email me @ lette007@umn.edu </p>











</p>