<div class="center jumbotron">
  <% if logged_in? %>
    <% provide(:title, "home") %>
    <ul class="users">
      <%= render @user %>
    </ul>
  <% else %>
    <%= link_to "LOGIN", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "ENLIST", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  
</div>

