<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><center>Click 'YES' if you believe that our next encounter will probably be awkward, but it might not be</center></p>
<center><%= link_to 'YES', nicole3_path, class: "btn btn-primary" %></center>