<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><center>Click 'YES' if you believe that real life is different than online life</center></p>
<center><%= link_to 'YES', nicole2_path, class: "btn btn-primary" %></center>
