<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><center>Click 'YES' if you believe that movies are fun, but that you know that I know that I've exhausted my asking-out privileges and that you would like to break through the awkward barrier with me and invite me to a movie</center></p>
<center><%= link_to 'YES', nicole4_path, class: "btn btn-primary" %></center>