<footer class="footer">
  <small>
    students microinvesting in charitable 
    <a href="http://www.railstutorial.org/"> projects</a>
  </small>
  <nav>
    <ul>
      <li><a href="www.savethefrickinworld.org">report issues</a></li>
    </ul>
  </nav>
</footer>