<footer class="footer">
  <small>
    Student Microinvesting in <a href="http://www.railstutorial.org/">Charitable 
    Projects</a>
  </small>
  <nav>
    <ul>
      <li><a href="www.savethefrickinworld.org">report issues</a></li>
    </ul>
  </nav>
</footer>