<footer class="footer">
  <small>
    students microinvesting in charitable 
    <a href="https://www.againstmalaria.com/" target="_blank"> projects</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.savethefrickinworld.org">report issues</a></li>
    </ul>
  </nav>
</footer>